# buffers, beam files etc
*~
*.beam
.eunit

# directories
log/
doc/0
deps/*
ebin/
data/
_rel/
dev/*

# logs
erl_crash.dump
.dialyzer_plt
.dialyzer.base_plt

# config files
priv/*.conf
priv/edfs.sys.config
priv/edfs.vm.args

# tools
relx
rebar
.rebar/

# notes
NOTES
TODO

# misc
.erlang-release
