%% -*- mode: erlang -*-
{sub_dirs, ["apps/*"]}.

%% Compiler Options ==================================================
{erl_opts,
 [debug_info,
  warnings_as_erros,
  {parse_transform, lager_transform},
  {i, "include"},
  {i, "../../include"},
  {src_dirs, ["src", "tests"]}
 ]
}.

%% Dependencies ======================================================
{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git"}},
    {ranch, ".*", {git, "git://github.com/extend/ranch.git", {branch, "master"}}},
    {cuttlefish, ".*", {git, "git://github.com/basho/cuttlefish.git", {branch, "master"}}},
    {jiffy, ".*", {git, "git://github.com/davisp/jiffy"}},
    {jsonq, ".*", {git, "git://github.com/kato-im/jsonq.git"}},
    {chash, ".*", {git, "https://github.com/ibnfirnas/chash"}}
 ]
}.

%% EUnit =============================================================
{eunit_opts,
    [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled, true}.
{cover_print_enabled, true}.

%% eDFS rebar plugin  ===============================================
{lib_dirs,	    ["../deps"]}.
{plugin_dir,	    "apps/edfs/src"}.
{plugins,           [edfs_rebar_plugin]}. 

%% path to schema and config files
{edfs_schema,   "./priv/edfs.schema"}.
{edfs_conf,     "./priv/edfs.conf"}.
{edfs_vmargs_path, "./priv/edfs.vm.args"}.


%% Where to write the parse .conf file
{edfs_app_configpath, "./priv/edfs.sys.config"}.
